.AboutPageHeader {
    width: 100%;
    height: 86vh;
    background-image: url(../../images/AboutPageHeaderImage.png);
    mix-blend-mode: luminosity;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.AboutPageTop {
    background-color: rgba(0, 0, 0, 0.60);
    width: 100%;
    z-index: 100;
    height: 86vh;
}

.AboutPageOverlay {
    background: url(../../images/AboutPageHeaderImageOverlay.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 142px;
}

.AboutPageHeaderText {
    width: 100%;
    height: 77.5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.AboutPageHeaderTextTop {
    width: 100%;
    height: 51vh;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.AboutPageHeaderTextTopContent {
    padding-left: 8%;
}

.AboutPageHeaderPara p {
    color: #FFF;
    font-family: "Plus Jakarta Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.AboutPageHeaderPara span {
    color: #F5900D;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.AboutPageHeaderHeading h3 {
    color: #FFF;
    font-family: "Plus Jakarta Sans";
    font-size: 105px;
    font-style: normal;
    font-weight: 800;
    line-height: 95px;
    letter-spacing: -7.2px;
    margin: 0;
}

@media only screen and (max-width: 375px) {
    .AboutPageHeaderHeading h3 {
        font-size: 90px;
        text-align: center;
    }

    .AboutPageHeaderPara {
        text-align: center;
    }

}